.body{
    max-width: 1440;
}

a {
    color: inherit;
    text-decoration: none;
  }

/*HEADER*/
.header{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 1vw;
font-size: 20px;
margin-top: 2vw;
}
.headerNavMobile{
    display: none;
}
.header a{
    text-decoration: none;
}

.headerLogo{
    display: flex;
    height: 3rem;
    margin-left: 1rem;
}

.headerNav{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.headerNavLink1{
   text-align: center; 
   color: #0065FC;
   margin-right: 2rem;
   border-top: 2px solid white;
   padding: 30px 10px 20px 10px;
}

.headerNavLink2{
   text-align: center; 
   color: black;
   margin-right: 2rem;
   border-top: 2px solid white;
   padding: 30px 10px 20px 10px;
}
.headerNavLink1:hover{
    border-top: 2px solid #0065FC;
    padding: 30px 10px 20px 10px;
}
.headerNavLink2:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 30px 10px 20px 10px;
}

.headerNavSignup{
    font-weight: 1000;
    color: #0065FC;
    padding: 30px 10px 20px 10px;
}
/*HEADER*/

/*SEARCH*/
h1{
    font-size: 25px;
    margin-left: 2vw;
}


h2{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 2.2vw;
}

.searchForm{
display: flex;
margin-left: 2vw;
}

.searchIcon{
    display: flex;
    background-color:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem; 
    padding: 5px
}

.searchBar{
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    border-left: none;
    border-right: none;
    border: 1px solid #F2F2F2;
    padding: 0 1rem;
}

.searchButton{
 background-color: #0065FC;
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;
 width: 7rem;
 border: 1px solid #F2F2F2;
 border-left: none;
 cursor: pointer;
}

.searchButtonText{
    color: white;
    font-weight: bold;
}

.searchButtonIcon{
    display: none;
}
/*SEARCH*/

/*FILTERS*/
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0;
}

.filtersTitle{
    font-weight: bold;
    font-size: 20px;
}

.filter{
    display: flex;
    border-radius: 50px;
    border: 2px solid #d9d9d9;
    margin-left: 2.5rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    cursor: pointer; 
    border-left: none;
}

.filtersIcon{
    background-color: #DEEBFF;
    border-radius: 100%;
    border: 1px solid #DEEBFF;
    color: #0065FC;
    font-size: 20px;
    margin: -2px;
    padding: 10px 13px;
}

.filtersTexte{
    margin: 10px;
}

.filter:hover{
    background-color: #deebff63;
    transform: scale(1.015);
}

.result{
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
}

.resultIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-left: 10px;
    border-radius: 100%;
    border: 2px solid #d9d9d9;
    padding: 0 7px;
    height: 20px;
    width: 10px;
    font-size: 15px;
    
}

.result p{
    margin-left: 10px;
}
/*FILTERS*/

/*HOSTING*/
.hostingPopular{
display: flex;
margin-left: 2vw;
}

.hosting{
background-color: #F2F2F2;
border-radius: 1rem;
width: 70vw;
}

.hostingArticle{
background-color: white;
border-radius: 1rem;
/*width: 13rem;*/
width: 255px;
box-shadow: 0 0 20px #0000002e;
margin: 20px 20px 20px 20px;
padding: 0.3rem;
}

.hostingArticle:hover{
    transform: scale(1.015);
}

.hostingArticleList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hostingTitle{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 2rem;
}

.hostingImgTitle{
    font-size: 1rem;
}

.hostingFigure{
    margin: 0;
}

.hostingFigure h3{
    margin: 0;
}
.hostingImg{
  height: 9rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.hostingPrice{
    margin-left: 0;
    margin: 0;
    font-size: 1rem;
}

.hostingGrade{
    margin-left: 0;
}    

.hostingStar[data-active=true] {
    color: #0065FC;
  }

.hostingStar[data-active=false] {
    color: rgba(0, 0, 0, 0.26);
  }

  .hostingShowMore{
      padding: 20px 20px 20px 20px;
  }
  .hostingMore{
      font-size: 1rem;
      font-weight: bold;
  }
  /*HOSTING*/

  /*POPULAR*/

  .popular{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    background-color: #F2F2F2;
    border-radius: 1rem;
    width: 35vw;
    margin-left: 5vw;
  }
  .popularArticle{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 20px #0000002e;
    margin: 20px 20px 20px 20px;
    padding: 0.3rem;
    width: 100%;
    height: 9vw;
  }

    .popularArticle:hover{
        transform: scale(1.015);
    }

    .popularArticleList{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .popularTitle{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 20px;
    }
    .fa-chart-line{
        /*padding: 0px 0px 0px 220px;*/
    display: flex;
    align-items: flex-start;
    margin-left: 14.5vw;
    }
    .popularImgTitle{
        font-size: 1rem;
    }
    
    .popularContent{
        position: relative;
        min-height: 100%;
        width: 33%;
        min-width: 33%;
        max-width: 33%;
    }
    .popularWrap{
        display: flex;
        align-items: stretch;
        height: 100%;
        overflow: auto;
    }
    .popularContentTitles{
        display: flex;
        flex-direction: column;
    }
    .popularImg{
        object-fit: cover;
        position: absolute;
        height: 9vw;
        width: 100%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
    }
    .popularImgTitle{
        margin-bottom: 0;
        margin-top: 0.5vw;
        margin-left: 1vw;
    }
    .popularDescription{
        margin-top: 1vw;
        margin-left: 1vw;
    }
    .popularGrade{
        margin-top: 2.7vw;
        margin-left: 1vw;
    }
    .popularPrice{
        margin-left: 0;
        margin: 0;
        font-size: 1rem;
    }
    
    .popularStar[data-active=true] {
        color: #0065FC;
      }
    
    .popularStar[data-active=false] {
        color: rgba(0, 0, 0, 0.26);
      }
/*POPULAR*/

/*ACTIVITY*/
.activityTitle{
    font-weight: bold;
    font-size: 20px;
}

.activity{
   display: grid;
   column-gap: 2vw;
   width: 1440px;
   margin: 2vw;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}

.activityCard{
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
  box-shadow: 0 0 20px #0000002e;
}
.activityCard:hover {
    transform: scale(1.01);
  }
.activityContent{
    position: relative;
    flex: 1;
}
.activityImg{
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.activityImgTitle{
    margin: 1.3rem 1.4rem;
}

.activityCard1 {
    grid-column: 1/2;
    grid-row: 2/7;
  }
  .activityCard2 {
    grid-column: 2/2;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard4 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard5 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
/*ACTIVITY*/

/*FOOTER*/
.footer{
    background-color: #F2F2F2;
}

.footerMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1440px;
    margin: auto;
    padding: 0 2rem;
    max-width: 100%;
}
.footerNav{
    width: 20%;
    padding: 2rem 2rem;
}

.footerLink{
    display: block;
}
/*FOOTER*/

@media screen and (max-width: 940px) {

    .header{
        width: 59%;
    }
    .headerNavLink1{
        display: none;
    }
    .headerNavLink2{
        display: none;
    }
    .headerNavMobile{
        display: flex;
        text-decoration: none;
        font-size: 20px;
    }
    .headerNavLink1Mobile{
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        text-decoration: none;
        padding: 0px 33.5px 10px 33.5px;
    }
    .headerNavLink2Mobile{
        color: black;
        border-bottom: 2px solid #F2F2F2;
        text-decoration: none;
        padding: 0px 55px 10px 55px;
    }
      .searchTitles h1{
          width: 50%;
      }
    .searchButtonText{
        display: none;
    }
    .searchButtonIcon{
        display: flex;
        justify-content: center;
        color: white;
    }
    .searchButton{
        width: 6%;
        border-radius: 1.2vw;
        margin-left: -1vw;
    }
    .filters{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    .filter{
        margin-top: 2vw;
        margin-left: 2vw;
    }
    .result{
        display: flex;
        width: 50%;
    }
    .resultIcon{
        margin-bottom: 3vw;
    }
    .hostingPopular{
        flex-direction: column-reverse;
        margin: auto;
    }
    .hosting{
        margin-left: 5vw;
        width: 50vw;
        background-color: white;
    }
    .hostingArticle{
        width: 50vw;
        margin-left: 0;
    }
    .popular{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 0vw;
        margin: 0px 3vw;
        width: 50vw;
    }
    .popularTitle{
        margin-left: 0;
    }
    .popularContentTitles{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5vw;
    }

    .popularArticle{
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0 0 20px #0000002e;
        margin: 20px 20px 20px 20px;
        padding: 0.3rem;
        width: 100%;
        height: 18vw;
      }

      .popularImg{
        object-fit: cover;
        position: absolute;
        height: 9vw;
        width: 130%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
      }
    .activity {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        }

        .footer{
            width: 50%;
        }
        .footerMain{
            flex-direction: column;
            padding: 2vw;
        }

        .footerNav{
            width: 100%;
            padding: 0;
            margin: 1vw 0;
        }
}